@font-face {
    font-family: literation; 
    src: url('_literationmono.ttf');
}
@font-face {
    font-family: "Avenir Next"; 
    src: url('_avenirnext.ttc');
    font-family: Regular;
}

@font-face {
    font-family: "PragmataPro Nerd Font"; 
    src: url('_pragmatapro.ttf');
}

hr.dark {
    border: 2.5px solid #000;
    margin-bottom: 4%;
    margin-top: 4%;
}

img {
    text-align: center;
    max-height: 8em;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
}

.card.nightMode { 
    background-color: #131313;
}

.invert-img { 
    filter: invert(100%);
}

.symbols {
    font-size: 15px;
    align-text: left;
    display: inline-block;
}

.mac {
    zoom: 100%;
}

::-webkit-scrollbar {
    width: 0em;
}

.tags {
    font-family: "PragmataPro Nerd Font";
    font-style: normal;
    font-size: 12px;
    text-align: right;
    margin-bottom: 4%;
    user-select: none;
    color: #000;
}

.tags:hover {
   color: #DEDEDE;
    transition: color 0.5s ease-in-out;
}

.card {
    font-family: "Avenir Next";
    font-size: 30px;
    text-align: center;
    background-color: #131313;
}


h1  {
    color: #DEDEDE;
}

h2 {
    color: #DEDEDE;
}

h3 {
    color: #DEDEDE;
}

h4 {
    color: #DEDEDE;
}

h5 {
    color: #DEDEDE;
}


h6  {
    color: #DEDEDE;
}

mark {
    background-color: #f0cc04;
    color: black;
}

.mermaid {
    font-size: 15px;
}

.footer {
    position: absolute;
    bottom: 0px;
    right: 50%;
    left: 48%;
}

.footer2 {
    position: absolute;
    bottom: 20px;
    right: 50%;
    left: 48%;
}

.front {
}

.btn {
    background-color: #DEDEDE;
    border: none;
    color: black;
    text-align: center;
    font-size: 10px;
    opacity: 0.2;
    transition: 0.5s;
}

.btn:hover {
    opacity: 1;
}


.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #232323;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #DEDEDE;
    color: #232323;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #DEDEDE transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.zoom { 
    background-color: rgba(22, 24, 25, 0.75);
    border: 1px solid #DEDEDE;
    margin: 0 auto;
    border-radius: 3px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 3em;
    display: block;
    transition: transform 0.2s ease-in-out;
 }

.zoom:hover {
    transform: scale(3);
}
