@font-face {
    font-family: "Pragmata Pro Nerd Font"; 
    src: url('_pragmatapro.ttf');
}

@font-face {
    font-family: "Avenir Next"; 
    src: url('_avenirnext.ttc');
    font-family: Regular;
}

@font-face {
    font-family: "Literation";
    src: url('_literation.ttf');
    font-family: Regular;
}

.symbols {
    font-size: 18px;
    font-family: "Pragmata Pro Nerd Font";
    align-text: left;
    display: inline-block;
}


hr.dark {
    margin-bottom: 4%;
    border: 2.5px solid #000;
    margin-top: 4%;
}

::-webkit-scrollbar {
    width: 0.1em;
}

.card.nightMode { 
    background-color: #131313;
    color: #F0F0F0;
}



.mac {
    zoom: 100%;
}

body::-webkit-scrollbar-thumb {
    background-color: #131313;
}

.cloze {
    font-weight: bold;
    color: #D62317;
}

.card {
    font-family: "Avenir Next";
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color:#F0F0F0;
}

.extra {
    font-family: "Pragmata Pro Nerd Font";
    font-size: 15px;
    color: #067BC3;
    text-align: center;
}


.tags {
    font-family: "Pragmata Pro Nerd Font";
    font-style: normal;
    font-size: 12px;
    text-align: right;
    color: #000;
    margin-bottom: 4%;
    user-select: none;
}

.tags:hover {
    color: #F0F0F0;
    transition: color 0.5s ease-in;
}
h1 {
    color: #F0F0F0;
    text-align: center;
}

h2 {
    color: #F0F0F0;
    text-align: center;
}

  h3 {
      color: #F0F0F0;
      text-align: center;
  }

h4 {
    color: #F0F0F0;
    text-align: center;
}

h5 {
    color: #F0F0F0;
    text-align: center;
}

h6  {
    color: #F0F0F0;
    text-align: center;
}

mark {
    background-color: #FBDB42;
    color: black;
}


.mermaid {
    font-size: 14px;
}

.lbl-toggle {
    display: block;
    font-weight: bold;
    font-size: 0.7rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.2rem;
    color: #F0F0F0;
    background: rgba(6, 123, 195, 1.000);
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: rgba(6, 123, 195, 1.000);
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    transition: max-height .25s ease-in-out;
    overflow: hidden;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 50%;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: rgba(6, 123, 195, 0.100);
    border-bottom: 1px solid rgba(6, 123, 195, 0.100);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .1rem 0.5rem;
}

input[type='checkbox']{
    display:none;
}

.btn {
    background-color: #F0F0F0;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    font-size: 10px;
    margin: 4px 2px;
    opacity: 0.3;
    transition: 0.5s;
}

.btn:hover {
    opacity: 1;
}

.footer2 {
    position: absolute;
    bottom: 10px;
    right: 50%;
    left: 52%;
}

.zoom {
    background-color: rgba(22, 24, 25, 0.75);
    max-width: 15%;
    border: 1px solid #F0F0F0;
    margin: 0 auto;
    border-radius: 3px;
    transition: all .2s ease-in-out;
    padding-top: 12px;
 }

.zoom:hover {
    transform: scale(4);
}
